.active > *, .active{
    background: #c62828!important;
    color: white !important;
    font-weight: bold;
}

body{
    background-color: #d4cccc;
}

.grey-background{
    background-color: #d4cccc;
}

.md-mini {
    width: 20px!important;
    height: 20px!important;
    min-height: 0px!important;
}

.my-primary{
    background-color:#90caf9;
}

md-chips.md-default-theme .md-chips{
    box-shadow: none;
}

md-toolbar{
    position:fixed;
    top:0;
    box-shadow: 0px 0px 8px black;
}


md-icon{
    color:black !important;
}

:focus{
    outline: none !important;
}


.my-clip{
    background-color: #90caf9;
}

.my-clip img{
    position: absolute;
    
    max-width: 400px;
    height:auto;
}

.avatar-logo{
    height:30px;
    width:30px;
    border-radius: 10px;
}
.my-max-width{
    max-width:400px;
  
}

.my-flexbox{
    align-items:center!important;
    justify-content: center!important;
}