.active > *, .active{
    background: #c62828!important;
    color: white !important;
    font-weight: bold;
}

.md-mini {
    width: 20px!important;
    height: 20px!important;
    min-height: 0px!important;
}

.my-primary{
    background-color:#90caf9;
}

md-chips.md-default-theme .md-chips{
    box-shadow: none;
}

md-toolbar{
    position:fixed;
    top:0;
}


md-icon{
    color:black !important;
}

:focus{
    outline: none !important;
}