<md-content class="grey-background" ng-controller="listCtrl" layout="column">
    <div style="height: 50px">

    </div>
    <div ng-if="!clips" layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>
    <div layout-gt-xs="row" layout-xs="column" layout-wrap layout-align:"center center" style="min-height: 500px;" class="my-flexbox">
        <md-card class="my-max-width" ng-repeat="clip in clips" ng-style="clip.selected ?  {'border':'2px solid #c62828', 'background' : '#EEEEEE'}: {'border':'2px solid transparent'} ">
            <img ng-src="{{clip.metadata.thumbnails.medium}}" class="md-card-image" alt="Washed Out" ng-click="watchClip($index)">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">
                        <img class="avatar-logo" ng-src="{{clip.metadata.broadcaster.logo}}" alt=""> {{clip.metadata.broadcaster.display_name}} - {{clip.metadata.title}} </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="start center">
                <md-card-icon-actions>
                    <md-button class="md-icon-button" aria-label="Favorite" ng-click="addClip($index)">
                        <md-icon> {{clip.selected ? '&#xE15C;' : '&#xE145;'}}</md-icon>
                    </md-button>
                </md-card-icon-actions>
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
            </md-card-actions>
            <md-card-content>
                <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
                    Greene's musical language: feel it. It's a simple request, as well...
                </p>
            </md-card-content>
        </md-card>
    </div>

</md-content>

