<!DOCTYPE html>
<html>

<head>
  <title>Mega App</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-aria/angular-aria.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.js"></script>
  <script src="../bower_components/angular-material/angular-material.js"></script>

  <script src="script/app.js"></script>

  <!--inject:css-->

  <link rel="stylesheet" href="style/animation.css">

  <link rel="stylesheet" href="style/style.css">

  <link rel="stylesheet" href="directive/myinput/myinput.css">

  <!--endinject-->

  <!--inject:js-->



  <script src="script/app.js"></script>



  <script src="directive/myinput/myinput.js"></script>

  <script src="directive/mycheckbox/mycheckbox.js"></script>

  <script src="directive/myslider/myslider.js"></script>

  <script src="directive/mytab/mytab.js"></script>

  <script src="views/List/list.js"></script>

  <script src="script/controller/MainCtrl.js"></script>



  <script src="script/service/changeQueryServ.js"></script>



  <script src="script/service/twitchApi.js"></script>



  <!--endinject-->

  <!-- angularJS -->


  <meta charset="UTF-8">
  <title>TwichClipDownloader</title>
</head>

<body ng-app="app" ng-cloak ng-controller="MainCtrl">


  <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">

    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Menu</h1>
    </md-toolbar>
    <md-content ng-controller="MainCtrl" layout-padding="">
      <md-content>
        <md-list flex="">
        </md-list>
      </md-content>
    </md-content>
  </md-sidenav>




  <md-toolbar>
    <div class="md-toolbar-tools my-primary">
      <md-button ng-click="menuClicked()" class="md-icon-button" aria-label="Settings" ng-disabled="false">
        <md-icon md-svg-icon="icons/ic_menu_white_48px.svg"></md-icon>
      </md-button>

      <md-chips flex-fill readonly="true" layout-align="center center">
        <md-chip ng-click="changeStreamer($event)">
          <md-icon> &#xE7FD;</md-icon>
          {{query.streamer.name}}
        
        </md-chip>
        <md-chip ng-click="changeGame($event)">
            <md-icon>   &#xE021;</md-icon>
          {{query.game.name}}
        </md-chip>
        <md-chip ng-click="changeTrending($event)">
      
          <md-icon> &#xE8E5;</md-icon>
          {{query.trending.data}}
          </md-chip>
        <md-chip ng-click="changeLimit($event)">
            <md-icon>&#xE242;</md-icon>
          {{query.limit.data}}
        </md-chip>
        <md-chip>
        

      </md-chips>

      <md-button class="md-primary" ng-click="search()"> SEARCH </md-button>
    </div>
  </md-toolbar>

  <div ng-include="'views/List/list.html'" layout-fill></div>

</body>



</html>